doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='agora/vendor/bootstrap.min.css')
    script(src='agora/AgoraRTCSDK-2.3.1.js')
    script(src='agora/vendor/jquery.js')
  body
    #div_device.panel.panel-default
      .select
        label(for='audioSource') Audio source: 
        select#audioSource
      .select
        label(for='videoSource') Video source: 
        select#videoSource
    #div_join.panel.panel-default
      .panel-body
        | Key:
        input#key(type='text', value='', size='36')
        |       Channel:
        input#channel(type='text', value='1000', size='4')
        |       Host:
        input#video(type='checkbox', checked='')
        button#join.btn.btn-primary(onclick='join()') Join
        button#leave.btn.btn-primary(onclick='leave()') Leave
        button#publish.btn.btn-primary(onclick='publish()') Publish
        button#unpublish.btn.btn-primary(onclick='unpublish()') Unpublish
    //
      style>
      .video__box{width:910px; margin:0 auto; overflow:hidden;}
      .video__main{ width:810px; height:607px;float:left }
      .video__list{ width:200px; height:607px; float:left;}
      .video__item{ width:200px; height:174px; hei background:url(/img/icon_live.png) center center no-repeat; }
      </style>
      <div class="video__main">
      </div>
      <div class="video__list">
      <div class="video__item"></div>
      <div id="video" class="video__item">
      <div id="agora_local"></div>
      </div>
      </div
    #video(style='margin:0 auto;')
      #agora_local(style='float:right;width:210px;height:147px;display:inline-block;')
    script(src='javascripts/agoraClient.js')