extends layout

block content
    h1 <b> Hang in there, </b>
    h2 we're launching soon!
    br
    h3 Please contact the Suicide Lifeline (1-800-273-8255) if you're in need of immediate help.
    br 
    h5 If you'd like to receive updates, please fill out this #[a(href="https://goo.gl/forms/8tmYdISC93xoLWrU2") survey] and leave your email at the end. Thanks!"